
.upload-container {
    width: 300px;
    text-align: center;
}

.upload-area p {
    font-size: 14px;
    margin-bottom: 10px;
}

.upload-box {
    background-color: #e5e5e5;
    border: 2px dashed rgb(236, 236, 236);
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.upload-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100px;
}

.upload-content i {
    font-size: 24px;
    margin-bottom: 10px;
}

.upload-content p {
    font-size: 14px;
}

.upload-box.dragover {
    border-color: #888;
}



.pageTitle{
    text-align: center;
    margin-bottom: 7px;
}

.container {
    display: flex;
    min-height: 90vh;
}
.left-panel, .right-panel {
    flex: 1;
    padding: 40px;
}

.left-panel {
    display: flex;
    justify-content: right;
    margin: auto;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    word-spacing: 5px;
    font-size: 50px;
}

.logo p {
    margin: 0;
    font-size: 14px;
    color: #555;
    letter-spacing: 8px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-container {
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    color: rgb(21, 21, 21);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.photo-upload {
    margin-bottom: 20px;
    font-weight: bold;
}

.photo-header {
    font-size: 14px;
    margin-bottom: 10px;
    
}

.photo-buttons {
    text-align: center;
    font-weight: bold;
}

.add-photos-btn, .upload-phone-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #007bff;
    color: rgb(244, 244, 244);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

input[type="text"], input[type="number"], select, textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    color: rgb(21, 21, 21);

}

.room-description{
    display: flex;
    justify-content: space-between;

}
input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    border: 2px solid #007bff;
    outline: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

button:focus {
    outline: none;
}


form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #ff6600;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    
}

form button:hover {
    background: #e65c00;
}